body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', serif;
  background-color: #F4F4F2;
}

hr {
  border-style: dotted none none;
  border-color: #BBBFCA;
  border-width: 5px;
  width: 10%;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #BBBFCA;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #BBBFCA;
  font-size: 1.5625rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #BBBFCA;
  margin: auto;

}

p{
  color: #495464;
  margin: auto;
  width: 50%;
  line-height: 2;
}

a{
  color: #BBBFCA;
  font-family: 'Montserrat', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #F4F4F2;
}

.top-container {
  background-color: #F4F4F2;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #F4F4F2;
  margin: 100px 0;
}

.bottom-container {
  background-color: #495464;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 200px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
}
.skill-img{
  width: 25%;
}
.Cjorge{
  color: #F4F4F2;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', serif;
  color: #F4F4F2;
  font-size: 20px;
  background: #495464;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #BBBFCA;
  text-decoration: none;
}
.contact-me{
  margin-bottom: 50px;
}
